/.idea
build
vendor
bower_components
node_modules
tmp
logs
config/app.php
composer.lock
package-lock.json

############################################# Ignore build static files ################################################
webroot/fonts
webroot/js/libs/*
webroot/css/libs/*
webroot/css/cache
