/.idea
build
vendor
bower_components
node_modules
tmp
logs
config/app.php
composer.lock

############################################# Ignore build static files ################################################
webroot/fonts
webroot/css/libs/bootstrap.min.css
webroot/js/libs/bootstrap.min.js

webroot/css/libs/fancybox.min.css
webroot/js/libs/fancybox.min.js
webroot/img/fancybox

webroot/css/libs/uikit.min.css
webroot/js/libs/sweetalert.min.js

webroot/css/libs/sweetalert.min.css
webroot/js/libs/uikit.min.js

webroot/css/libs/materialize.min.css
webroot/js/libs/materialize.min.js

webroot/js/libs/utils.min.js
webroot/js/libs/jquery.min.js
webroot/js/libs/jquery-factory.min.js
webroot/css/libs/font-awesome.min.css

webroot/js/libs/jquery-check-all.min.js

webroot/css/cache
